<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lightnovelbackend.dao.CategoryMapper">
    <select id="getAllCategories" resultType="Category">
        select
            *
        from
            category
    </select>
    <select id="getCategory" resultType="Category">
        select
            *
        from
            category
        where
            id=#{id}
    </select>
</mapper>